.block {
    width: 1025px;
    height: 632px;
    margin: 0 0 0 159px;
}

.text__item {
    font-size: 34px;
    font-weight: 700;
}

.text__item-2 {
    font-size: 20px;
    font-weight: 400;
}

.block__img {
    display: flex;
}