.form {
    background: url(../../img/form/Vector-1.png) no-repeat left, url(../../img/form/Vector-2.png) no-repeat right, url(../../img/form/Vector.png) no-repeat 180px;
    width: 1164px;
    margin: 0 0 0 100px;
    height: 209px;
    border-radius: 40px;
    background-color: orange;
    margin-bottom: 60px;
}


.form__content {
    padding: 30px 60px;
}

form {
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.input {
    height: 43px;
    border-radius: 20px;
    border: none;
    padding: 0 15px;
    margin-right: 40px;
    font-size: 15px;
    
}

input::-webkit-input-placeholder { color: #FE840E; }
input::-webkit-input-value { color: #FE840E; }


.input-name {
    height: 43px;
    border-radius: 20px;
    border: none;
    padding: 0 15px;
    margin-right: 40px;
    width: 335px;
}

.form__btn {
    background-color: #FE840E;
    border-radius: 20px;
    height: 43px;
    width: 184px;
    margin-right: 20px;
    transition: background-color .3s linear;
    &:hover {
        background-color: #e47302;
    }
}

.form__link {
    margin-right: 10px;
    transition: transform .2s linear;

    &:hover {
        transform: translateY(-5px)
    }

}

.form__links {
    align-items: center;
}


:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

@media(max-width: 400px) {
    .form {
        padding: 0;
        margin: 0;
        height: 600px;
    }

    .form_span {
        text-align: center;
    }

}
