@import "mixin";
@import "fonts";
@import "normalize";

// Переменные
$maxwidth: 1400px;
$minwidth: 320px;
$maxwidthcontainer: 1200px;

// Цвет

$malina: #C81F56;
$blacktext: #020202;


*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: $maxwidthcontainer;
  margin: 0 auto;
  padding: 0 10px;
}

@import "components/header";
@import "main";
@import "components/footer";
@import "components/popup";
@import "components/form";
@import "components/versus";
@import "components/block";
